
<nav class="navbar navbar-expand-sm navbar-light bg-success">
      <div class="container">
        <a class="navbar-brand" routerLink="/home">Wafa Immo</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/home" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
                </li>
            </ul>

            <div class="ul navbar-nav ms auto">

                <li *ngIf="!userAuth" class="nav-item"><a routerLink="/auth/login" class="nav-link">Login</a></li>
                <li  class="nav-item"><a routerLink="/dashboard/statistique" class="nav-link">Dashboard</a></li>
                <li *ngIf="userAuth" class="nav-item"><button (click)="signOut()" class="nav-link">Logout</button></li>
            </div>
           
        </div>
  </div>
</nav>
